table, tr, td, th {
	border: 1px solid black;
	border-collapse: collapse;
}

table {
	width: 80%;
}

#id_emprestimo {
	width: 20px;
}

#data {
	width: 100px;
}

#pedido_por {
	width: 250px;
}

#registo:hover {
	background-color: rgba(148,217,255,0.5);
    -webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    -o-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}

.dia {
    width: 100px;
    height: 30px;
}

#th_equip {
    height: 30px;
    width: 150px;
    background-color: rgba(79,92,99,0.7);
}

.dia_th {
    width: 30px;
    height: 30px;
    background-color: lightgrey;
}

.menu li {
    display: inline-block;
    padding: 5px 10px;
    background: gray;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.menu li:hover {
    background: darkgray;
    color: gray;
}

a {
    text-decoration: none;
    padding: 5px 0px;
}

td {
    padding: 0px;
}

td a {
    width:100%;
    display:block;
}

td a:hover {
    background: rgba(0,0,0,0.2);
    -webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    -o-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}